@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
    font-family: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* banner section styles */
.banner-section{
    max-width: 1440px;
    min-height: 715px;
    margin: 0 auto;
    border: 2px solid red;
    background: linear-gradient(180.00deg, rgba(17, 17, 17, 0.897),rgb(17, 13, 13) 100%);
}
.navbar-section{
    max-width: 1060px;
    min-height: 46px;
    margin: 0 auto;
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
}
.nav-content h4{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}
.navbar{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 39px;
    padding: 0 7px 0 0;
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar p{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 400;
}
.home-btn{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    width: 92px;
    height: 100%;
    border: none;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}
.bars{
    display: none;
}
/* banner section styles */
.banner-container{
    max-width: 1060px;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    gap: 50px;
    margin-top: 97px;
}
.banner-content{
    max-width: 600px;
    border: 2px solid red;
}
.banner-content h2{
    color: rgb(255, 255, 255);
    font-size: 4.87rem;
    font-weight: 900;
    margin-bottom: 28px;
}
.banner-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 28px;
}
.banner-content button{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
}
#shape{
    font-family: "Dancing Script", cursive;
    color: rgb(255, 255, 255);
    font-size: 4.87rem;
    font-weight: 900;
}
.banner-img{
    position: relative;
    border: 2px solid red;
}
.banner-img img{
    width: 100%;
}
#download{
    color: white;
    background-color: black;
}
/* habits section styles  */
.habit-section-container{
    max-width: 1440px;
    min-height: 950px;
    margin: 0 auto;
    border: 2px solid red;
    background-color: black;
}
/* habit part styles */
.habit-part{
    max-width: 1044px;
    min-height: 452px;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid red;
    background: rgb(0, 0, 0);
}
.habit-section-content{
    max-width: 671px;
    margin: 0 auto;
    border: 2px solid red;
}
.habit-section-content h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.habit-section-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 14px;
}
.habit-section-card{
    display: flex;
    justify-content: space-around;
}
.habit-card-container{
    max-width: 230px;
    border: 2px solid red;
    margin-top: 58px;
}
.habit-card-container h5{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
}
.habit-section-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
}
.habit-card-img{
    display: flex;
    justify-content: center;
}
.habit-section-card img{
    align-items: center;
    border-radius: 50%;
}
/* ran part styles */
.ran-part{
    max-width: 1060px;
    min-height: 370px;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.ran-part-content{
    max-width: 443px;
    min-height: 290px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 14px;
}
.ran-part-content h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}
.ran-part-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-top: 14px;
}
.ran-part-content button{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-top: 34px;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
.ran-part-img{
    max-width: 366px;
    min-height: 310px;
    border: 2px solid red;
    border-radius: 18px;
    display: flex;
    align-items: center;
    margin: 0 14px;
}
.ran-part-img img{
    width: 100%;
    height: 80%;
}
/* calculate section styles */
.calculate-section-container{
    max-width: 1440px;
    min-height: 490px;
    margin: 0 auto;
    border: 2px solid red;
    background-color: rgb(34, 34, 34);
    display: flex;
}
.calculate-table-section{
    width: 50%;
    min-height: 490px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculate-table-section h4{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
}
table{
    max-width: 310px;
    min-height: 215px;
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.5);
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 5px 10px;
}
.calculate-input-section{
    width: 50%;
    min-height: 490px;
    border: 2px solid red;
}
/* meet section styles */
.meet-section-container{
    max-width: 1440px;
    min-height: 980px;
    margin: 0 auto;
    border: 2px solid red;
    background-color: black;
}
.meet-section{
    max-width: 1060px;
    min-height: 780px;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 100px;
}
.meet-section-content{
    max-width: 670px;
    margin: 0 auto;
    border: 2px solid red;
    margin-bottom: 48px;
}
.meet-section-content h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.meet-section-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 14px;
}
.meet-section-img img{
    width: 100%;
    border-radius: 18px;
}
.meet-card img{
    height: 250px;
}
.meet-section-img{
    color: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    margin: 0px 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 20px;
}
.trainer-name{
    margin-top: -70px;
    margin-left: 18px;
}
.meet-section-img h4{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.meet-section-img p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
/* footer section styles */
.footer-section{
    max-width: 1440px;
    min-height: 490px;
    margin: 0 auto;
    border: 2px solid red;
    background-color: black;
}
.footer-section-container{
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid red;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    margin: 66px 191px 100px 190px;
}
.footer-first-part{
    max-width: 445px;
    min-height: 175px;
    border: 2px solid red;
}
.footer-first-part h4{
    color: rgb(230, 83, 60);
    font-size: 4.37rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.footer-first-part p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.footer-second-part{
    max-width: 515px;
    min-height: 250px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.footer-second-part h4{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.footer-second-part p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.43rem;
    font-weight: 400;
    margin-top: 20px;
}
hr{
    max-width: 1060px;
    color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-bottom: 95px;
}
.copyright{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
}
/* .free-btn{
    width: 193px;
    height: 98px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
} */
/* small device media query  */
@media screen and (max-width: 576px){
     .navbar{
        display: none;
     }
     .bars{
        margin-right: 30px;
        color: white;
        display: block;
        margin-top: 10px;
     }
     .nav-content h4{
        margin-left: 30px;
     }
     .banner-container{
        flex-direction: column;
        margin: 20px;
        margin-top: 40px;
     }
     .btn-1{
        display: flex;
     }
     .habit-section-card{
        flex-direction: column;
        align-items: center;
     }
     .ran-part{
        flex-direction: column;
     }
     .ran-part-content button{
     }
     .meet-section-img{
        grid-template-columns: repeat(1, 1fr);
     }
     .footer-section-container{
        flex-direction: column;
        margin: 20px;
     }
     .footer-second-part{
        flex-direction: column;
        gap: 20px;
     }
     hr{
        max-width: 354px;
        margin-top: 30px;
        margin-bottom: 50px;
     }
}